name: Create Archive

on:
  create:
    tags:
      - v*

permissions:
  contents: write

jobs:
  build-n-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: version bump
      run: |
         VERSION=${GITHUB_REF_NAME#v}
         echo "version is ${VERSION}"
         sed -i -e "s/version=0.0.1/version=${VERSION}/" metadata.txt
         sed -i -e "s/version=0.0.1/version=${VERSION}/" fire2am_dialog_base.ui

    - name: git archive
      run: |
         git archive --format=zip --prefix=fire2am/ --add-file=metadata.txt --add-file=fire2am_dialog_base.ui --output "fire2am-kitral_${{ github.ref_name }}.zip" HEAD

    - name: Create Release
      uses: ncipollo/release-action@v1.12.0
      with:
        artifacts: "fire2am-kitral_${{ github.ref_name }}.zip"
        token: ${{ secrets.GITHUB_TOKEN }}
