name: Create Archive

on:
  create:
    tags:
      - v*

permissions:
  contents: write

jobs:
  build-n-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@master
      with:
        submodules: recursive

    - name: version bump & archive
      run: |
        VERSION=${GITHUB_REF_NAME#v}
        echo "version is ${VERSION}"
        sed -i -e "s/version=0.0.1/version=${VERSION}/" metadata.txt
        sed -i -e "s/version=0.0.1/version=${VERSION}/" fire2am_dialog_base.ui
        git add fire2am_dialog_base.ui metadata.txt

        head -n 9 metadata.txt
        export repo_root="$(pwd)"
        echo $repo_root
        git archive --verbose --prefix=fire2am/ --add-file=metadata.txt --add-file=fire2am_dialog_base.ui --prefix= --format tar --output repo_output.tar HEAD
        git submodule foreach --recursive 'git archive --verbose --prefix=$path/ --format tar HEAD --output $repo_root/sub_repo_$sha1.tar'
        echo 'concatenate'
        tar --concatenate --file repo_output.tar sub_repo_*.tar
        echo 'mkdir'
        mkdir "fire2am"
        # mkdir "fire2am-kitral_${{ github.ref_name }}"
        echo 'tar xf'
        tar -xf repo_output.tar --directory fire2am
        echo 'zip'
        zip -r "fire2am-kitral_${{ github.ref_name }}".zip "fire2am"

    - name: Create Release
      uses: ncipollo/release-action@v1.12.0
      with:
        artifacts: "fire2am-kitral_${{ github.ref_name }}.zip"
        token: ${{ secrets.GITHUB_TOKEN }}
